


<link rel="stylesheet" href="D:/Code/stocks/src/assets/vendor/components/bootstrap.min.css">

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dock-Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Dialogue Skip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://s3.amazonaws.com/dock-home.com/sudoku_solver/sudoku-page.html">Sudoku Solver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link enabled"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7 align-self-center p-static order-2 text-left  ">
      <div class="overflow-hidden pb-2">
        <h1 class="text-dark font-weight-bold text-9 appear-animation">The DOW Jones 30</h1>
      </div>
    </div>
  </nav>







<h1 style="text-align: center">

</h1>
<div class="ui stackable grid container">
  <div class="six wide column">
    <app-stock-card (dataMessageEvent)="receiveDataMessage($event)" (newsMessageEvent)="receiveNewsMessage($event)"> </app-stock-card>

    <app-stock-chart [xer]="childMessage" [ser]="childMessage3" ></app-stock-chart>
  </div>

  <div class="ui main text container twelve wide column">
    <app-stock-news [newsCaller]="childMessage2"></app-stock-news>

   <!-- <app-card-data></app-card-data> -->
   <router-outlet></router-outlet>
 </div>





</div>
</body>
