<!--
<div>

  <app-http-caller (messageEvent)="receiveMessage($event)"> </app-http-caller>
</div>

<div class="ui items">
  <div class="item">
    <a class="ui small image">
      <img src="{{ message2[0].image }}">
    </a>
    <div class="content">

      <div class="description">
        <p>{{ message2[0].text }}</p>
      </div>
    </div>
  </div>
  <div class="item">
    <a class="ui small image">
      <img src="{{ message2[1].image }}">
    </a>
    <div class="content">
      <div class="description">
        <p>{{ message2[1].text }}</p>
      </div>
    </div>
  </div>
</div>      -->

<div  tabindex="0">

  <div class="content">
    <div class="description">
      <div class="ui items">
        <div class="item">
          <a href="{{ NewsList[4] }}" class="ui small image">
            <img src= "{{ NewsList[1] }}" >
          </a>
          <div class="content">
            <a href="{{ NewsList[4] }}" class="ui tiny header">
              {{ NewsList[0] }}
            </a>
            <div class="description">
              <p>{{ NewsList[3] }}</p>
            </div>
            <div class="extra">
              <p>{{ NewsList[2] }}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="{{ NewsList[9] }}" class="ui small image">
            <img src= "{{ NewsList[6] }}" >
          </a>
          <div class="content">
            <a href="{{ NewsList[9] }}" class="ui small header">
              {{ NewsList[5] }}
            </a>
            <div class="description">
              <p>{{ NewsList[8] }}</p>
            </div>
            <div class="extra">
              <p>{{ NewsList[7] }}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="{{ NewsList[14] }}" class="ui small image">
            <img src= "{{ NewsList[11] }}" >
          </a>
          <div class="content">
            <a href="{{ NewsList[14] }}" class="ui small header">
              {{ NewsList[10] }}
            </a>
            <div class="description">
              <p>{{ NewsList[13] }}</p>
            </div>
            <div class="extra">
              <p>{{ NewsList[12] }}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="{{ NewsList[19] }}" class="ui small image">
            <img src= "{{ NewsList[16] }}" >
          </a>
          <div class="content">
            <a href="{{ NewsList[19] }}" class="ui small header">
              {{ NewsList[15] }}
            </a>
            <div class="description">
              <p>{{ NewsList[18] }}</p>
            </div>
            <div class="extra">
              <p>{{ NewsList[17] }}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="{{ NewsList[24] }}" class="ui small image">
            <img src= "{{ NewsList[21] }}" >
          </a>
          <div class="content">
            <a href="{{ NewsList[24] }}" class="ui small header">
              {{ NewsList[20] }}
            </a>
            <div class="description">
              <p>{{ NewsList[23] }}</p>
            </div>
            <div class="extra">
              <p>{{ NewsList[22] }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
