
<div class="ui five column internally equal width celled grid">
  <div class="five column row" style="minHeight: 60px">



    <div id='aapl' class="ui button cards blue one column" (click)="aaplMessage()">

      <div class="content">
        <div class="description">
          <div >
              <p> AAPL </p>
              <p class="item">{{ aaplList }}</p>

        </div>
        </div>
      </div>

    </div>

    <div id='amgn' class="ui button cards blue one column"  (click)="amgnMessage()">

      <div class="content">
        <div class="description">
          <p>AMGN</p>
          <p class="item">{{ amgnList }}</p>

        </div>
      </div>

    </div>

    <div id='axp' class="ui button cards blue one column" (click)="axpMessage()">

      <div class="content">
        <div class="description">
        <p>AXP</p>

          <p class="item">{{ axpList }}</p>


        </div>
      </div>
    </div>

    <div id='ba' class="ui button cards blue one column" (click)="baMessage()">

      <div class="content" >
        <div class="description" >
          <p>BA</p>
           <p class="item">{{ baList }}</p>
        </div>
      </div>

    </div>


    <div id='cat' class="ui button cards blue one column" (click)="catMessage()">

      <div class="content">
        <div class="description">
          <p>CAT</p>
          <p class="item">{{ catList }}</p>
        </div>
      </div>
    </div>

  </div>


  <div class="five column row" style="minHeight: 70px;">

    <div id='crm' class="ui button cards blue one column" (click)="crmMessage()">

      <div class="content">
        <div class="description">
          <p>CRM</p>
          <p class="item">{{ crmList }}</p>
        </div>
      </div>

    </div>

    <div id='csco' class="ui button cards blue one column" (click)="cscoMessage()">

      <div class="content" >
        <div class="description">
          <p>CSCO</p>
          <p class="item">{{ cscoList }}</p>
        </div>
      </div>
    </div>

    <div id='cvx' class="ui button cards blue one column" (click)="cvxMessage()">

      <div class="content">
        <div class="description">
          <p>CVX</p>
          <p class="item">{{ cvxList }}</p>
        </div>
      </div>

    </div>

    <div id='dis' class="ui button cards blue one column" (click)="disMessage()">

      <div class="content">
        <div class="description">
          <p>DIS</p>
          <p class="item">{{ disList }}</p>
        </div>
      </div>

    </div>

    <div id='dow' class="ui button cards blue one column" (click)="dowMessage()">

      <div class="content">
        <div class="description">
          <p>DOW</p>
          <p class="item">{{ dowList }}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="five column row" style="minHeight: 70px;">

    <div id='gs' class="ui button cards blue one column" (click)="gsMessage()">

      <div class="content">
        <div class="description">
          <p>GS</p>
          <p class="item">{{ gsList }}</p>
        </div>
      </div>

    </div>

    <div id='hd' class="ui button cards blue one column" (click)="hdMessage()">

      <div class="content">
        <div class="description">
          <p>HD</p>
          <p class="item">{{ hdList }}</p>
        </div>
      </div>

    </div>

    <div id='hon' class="ui button cards blue one column" (click)="honMessage()">

      <div class="content">
        <div class="description">
          <p>HON</p>
          <p class="item">{{ honList }}</p>
        </div>
      </div>
    </div>

    <div id='ibm' class="ui button cards blue one column" (click)="ibmMessage()">

      <div class="content">
        <div class="description">
          <p>IBM</p>
          <p class="item">{{ ibmList }}</p>
        </div>
      </div>
    </div>

    <div id='intc' class="ui button cards blue one column" (click)="intcMessage()">

      <div class="content">
        <div class="description">
          <p>INTC</p>
          <p class="item">{{ intcList }}</p>
        </div>
      </div>

    </div>

  </div>

  <div class="five column row" style="minHeight: 70px;">

    <div id='jnj' class="ui button cards blue one column" (click)="jnjMessage()">

      <div class="content">
        <div class="description">
          <p>JNJ</p>
          <p class="item">{{ jnjList }}</p>
        </div>
      </div>

    </div>

    <div id='jpm' class="ui button cards blue one column" (click)="jpmMessage()">

      <div class="content">
        <div class="description">
          <p>JPM</p>
          <p class="item">{{ jpmList }}</p>
        </div>
      </div>
    </div>

    <div id='ko' class="ui button cards blue one column" (click)="koMessage()">

      <div class="content">
        <div class="description">
          <p>KO</p>
          <p class="item">{{ koList }}</p>
        </div>
      </div>

    </div>


    <div id='mcd' class="ui button cards blue one column" (click)="mcdMessage()">

      <div class="content">
        <div class="description">
          <p>MCD</p>
          <p class="item">{{ mcdList }}</p>
        </div>
      </div>
    </div>

    <div id='mmm' class="ui button cards blue one column" (click)="mmmMessage()">

      <div class="content">
        <div class="description">
          <p>MMM</p>
          <p class="item">{{ mmmList }}</p>
        </div>
      </div>

    </div>

  </div>

  <div class="five column row" style="minHeight: 70px;">

    <div id='mrk' class="ui button cards blue one column" (click)="mrkMessage()">

      <div class="content">
        <div class="description">
          <p>MRK</p>
          <p class="item">{{ mrkList }}</p>
        </div>
      </div>

    </div>
    <div id='msft' class="ui button cards blue one column" (click)="msftMessage()">

      <div class="content">
        <div class="description">
          <p>MSFT</p>
          <p class="item">{{ msftList }}</p>
        </div>
      </div>

    </div>

    <div id='nke' class="ui button cards blue one column" (click)="nkeMessage()">

      <div class="content">
        <div class="description">
          <p>NKE</p>
          <p class="item">{{ nkeList }}</p>
        </div>
      </div>
    </div>
    <div id='pg' class="ui button cards blue one column" (click)="pgMessage()">

      <div class="content">
        <div class="description">
          <p>PG</p>
          <p class="item">{{ pgList }}</p>
        </div>
      </div>
    </div>

    <div id='trv' class="ui button cards blue one column" (click)="trvMessage()">

      <div class="content">
        <div class="description">
          <p>TRV</p>
          <p class="item">{{ trvList }}</p>
        </div>
      </div>

    </div>

  </div>


  <div class="five column row" style="minHeight: 70px;">

    <div id='unh' class="ui button cards blue one column" (click)="unhMessage()">

      <div class="content">
        <div class="description">
          <p>UNH</p>
          <p class="item">{{ unhList }}</p>
        </div>
      </div>
    </div>

    <div id='vz' class="ui button cards blue one column" (click)="vzMessage()">

      <div class="content">
        <div class="description">
          <p>VZ</p>
          <p class="item">{{ vzList }}</p>
        </div>
      </div>
    </div>

    <div id='v' class="ui button cards blue one column" (click)="vMessage()">

      <div class="content">
        <div class="description">
          <p>V</p>
          <p class="item">{{ vList }}</p>
        </div>
      </div>
    </div>

    <div id='wba' class="ui button cards blue one column" (click)="wbaMessage()">

      <div class="content">
        <div class="description">
          <p>WBA</p>
          <p class="item">{{ wbaList }}</p>
        </div>
      </div>

    </div>

    <div id='wmt' class="ui button cards blue one column" (click)="wmtMessage()">

      <div class="content">
        <div class="description">
          <p>WMT</p>
          <p class="item">{{ wmtList }}</p>
        </div>
      </div>

    </div>


  </div>


</div>
